In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('assdsaddfsdfasdsadas'))

In [3]:
s

0     a
1     s
2     s
3     d
4     s
5     a
6     d
7     d
8     f
9     s
10    d
11    f
12    a
13    s
14    d
15    s
16    a
17    d
18    a
19    s
dtype: object

In [4]:
s.unique()

array(['a', 's', 'd', 'f'], dtype=object)

In [5]:
s.value_counts()

s    7
d    6
a    5
f    2
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64